body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('imgg.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    color: #fff;
    min-height: 100vh; /* Ensure the background covers the entire viewport */
}

#navbar {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: left;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar h2 {
    margin: 0;
    display: inline-block;
    text-align: center;
    flex-grow: 1;
}

#menuBtn {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}

#profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

#navbar-links {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

#navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}

#plus-icon {
    font-size: 28px;
}

#content {
    flex-grow: 1;
    padding: 35px;
    margin-left: 20px; /* Adjusted to create space between sidebar and content */
    transition: margin-left 0.5s;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.big-block {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 100px;
    flex-grow: 2; /* Takes twice the space of smaller blocks */
    min-width: 750px; /* Adjust size as needed */
}

.rectangle-block {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    min-width: 750px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rectangle-block h3 {
    margin-top: 0;
    color: #fff;
}

.rectangle-block p {
    color: #fff;
}

@media screen and (max-width: 768px) {
    #content {
        margin-left: 0;
    }
}
