<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="styles_classes.css">
</head>
<body>
    <div id="content">
        <div id="home" class="container-grid">
            <div class="container">
                <h3>Class 1 Dashboard</h3>
            </div>

            <div class="container">
                <h3>Class 2 Dashboard</h3>
            </div>

            <div class="container">
                <h3>Class 3 Dashboard</h3>
            </div>

            <div class="container">
                <h3>Class 4 Dashboard</h3>
            </div>

            <div class="container">
                <h3>Class 5 Dashboard</h3>
            </div>
        </div>
    </div>
    <script src="scripts_classes.js"></script>
</body>
</html>
