<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="navbar">
        <i id="menuBtn" class="fas fa-bars"></i>
        <h2>STUDENT DASHBOARD</h2>
        <div id="navbar-links">
            <a href="#" id="plus-icon"><i class="fas fa-plus"></i></a>
            <!-- Replace the source of the image below with your desired image -->
            <img id="profile-img" src="9131529.png" alt="Profile Image">
        </div>
    </div>

    <div id="wrapper">
        <div id="sidebar">
            <div id="sidebar-links">
                <a id="homeLink"><i class="fas fa-home"></i> Home</a>
                <hr style="border-top: 1px solid #555; margin: 10px 0;">
                <a href="class1.html"><i class="fas fa-book"></i> Class 1</a>
                <a href="class2.html"><i class="fas fa-book"></i> Class 2</a>
                <a href="class3.html"><i class="fas fa-book"></i> Class 3</a>
                <a href="class4.html"><i class="fas fa-book"></i> Class 4</a>
                <a href="class5.html"><i class="fas fa-book"></i> Class 5</a>
                <hr style="border-top: 1px solid #555; margin: 10px 0;">
                <a href="#"><i class="fas fa-cog"></i> Settings</a>
            </div>
        </div>

        <div id="content">
            <div id="home" class="container-grid">
                <div class="container">
                    <a href="class1.html"><h3>Class 1 Dashboard</h3></a>
                </div>

                <div class="container">
                    <a href="class2.html"><h3>Class 2 Dashboard</h3></a>
                </div>

                <div class="container">
                    <a href="class3.html"><h3>Class 3 Dashboard</h3></a>
                </div>

                <div class="container">
                    <a href="class4.html"><h3>Class 4 Dashboard</h3></a>
                </div>

                <div class="container">
                    <a href="class5.html"><h3>Class 5 Dashboard</h3></a>
                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
