<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Webpage</title>
    <link rel="stylesheet" href="styles_allclasses.css">
</head>
<body>
    <div id="navbar">
        <i id="menuBtn" class="fas fa-bars"></i>
        <h2>STUDENT STATUS</h2>
        <div id="navbar-links">
            <a href="#" id="plus-icon"><i class="fas fa-plus"></i></a>
  
        </div>
    </div>

    <div id="content">
        <div class="big-block">
            <h3>CLASS 5</h3>
            <p>This block represents Class 5 of the page.</p>
        </div>
        <div class="rectangle-block">
            <h3>Overall Score</h3>
            <p>This block shows the overall score of the students.</p>
        </div>
        <div class="rectangle-block">
            <h3>Lab Wise Score</h3>
            <p>This block displays the lab-wise score of the students.</p>
        </div>
        <div class="rectangle-block">
            <h3>Assessments</h3>
            <p>This block shows the assessments provided to the students.</p>
        </div>
        <div class="rectangle-block">
            <h3>Next Lab Schedule</h3>
            <p>This block displays the next lab session schedule.</p>
        </div>
    </div>

    <script src="scripts_allclasses.js"></script>
</body>
</html>
